In [5]:
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
import pickle

In [13]:
data=pd.read_csv('Churn_Modelling.csv')
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [14]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [15]:
#encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [16]:
##One hot encoding
one_hotencoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=one_hotencoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hotencoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [17]:
##Concat one hot encoder and label encoder
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [18]:
###Split data into X and Y
X=data.drop("EstimatedSalary",axis=1)
y=data['EstimatedSalary']

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [21]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('one_hotencoder_geo.pkl','wb') as file:
    pickle.dump(one_hotencoder_geo,file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression Implementation

In [22]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) ## Output for Regression- Linear
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir='regressionlogs/fit/'+datetime.datetime.now().strftime('%Y%m%H-%H%M%S')
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [26]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [27]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 683us/step - loss: 100374.6875 - mae: 100374.6875 - val_loss: 98501.0156 - val_mae: 98501.0156
Epoch 2/100
250/250 [==============================] - 0s 433us/step - loss: 99543.2344 - mae: 99543.2344 - val_loss: 96793.3438 - val_mae: 96793.3438
Epoch 3/100
250/250 [==============================] - 0s 430us/step - loss: 96563.8281 - mae: 96563.8281 - val_loss: 92408.3047 - val_mae: 92408.3047
Epoch 4/100
250/250 [==============================] - 0s 432us/step - loss: 90757.8672 - mae: 90757.8672 - val_loss: 85260.3672 - val_mae: 85260.3672
Epoch 5/100
250/250 [==============================] - 0s 423us/step - loss: 82424.6328 - mae: 82424.6328 - val_loss: 76248.0391 - val_mae: 76248.0391
Epoch 6/100
250/250 [==============================] - 0s 409us/step - loss: 72936.9375 - mae: 72936.9375 - val_loss: 67187.7031 - val_mae: 67187.7031
Epoch 7/100
250/250 [==============================] - 0s 410us/step - loss: 64095.0117 - mae: 64095.0117 - val_loss: 59655.8945 - val_mae: 59655.8945
Epoch 8/100
250/250 [==============================] - 0s 412us/step - loss: 57397.7773 - mae: 57397.7773 - val_loss: 54686.5781 - val_mae: 54686.5781
Epoch 9/100
250/250 [==============================] - 0s 425us/step - loss: 53427.5234 - mae: 53427.5234 - val_loss: 52163.1250 - val_mae: 52163.1250
Epoch 10/100
250/250 [==============================] - 0s 413us/step - loss: 51545.2578 - mae: 51545.2578 - val_loss: 51259.0391 - val_mae: 51259.0391
Epoch 11/100
250/250 [==============================] - 0s 417us/step - loss: 50801.3750 - mae: 50801.3750 - val_loss: 50947.3594 - val_mae: 50947.3594
Epoch 12/100
250/250 [==============================] - 0s 560us/step - loss: 50503.7070 - mae: 50503.7070 - val_loss: 50822.1562 - val_mae: 50822.1562
Epoch 13/100
250/250 [==============================] - 0s 479us/step - loss: 50355.6914 - mae: 50355.6914 - val_loss: 50746.2578 - val_mae: 50746.2578
Epoch 14/100
250/250 [==============================] - 0s 443us/step - loss: 50257.1016 - mae: 50257.1016 - val_loss: 50693.0938 - val_mae: 50693.0938
Epoch 15/100
250/250 [==============================] - 0s 428us/step - loss: 50183.2969 - mae: 50183.2969 - val_loss: 50645.9570 - val_mae: 50645.9570
Epoch 16/100
250/250 [==============================] - 0s 439us/step - loss: 50118.5195 - mae: 50118.5195 - val_loss: 50600.9805 - val_mae: 50600.9805
Epoch 17/100
250/250 [==============================] - 0s 436us/step - loss: 50069.1875 - mae: 50069.1875 - val_loss: 50573.5898 - val_mae: 50573.5898
Epoch 18/100
250/250 [==============================] - 0s 417us/step - loss: 50020.7773 - mae: 50020.7773 - val_loss: 50540.9766 - val_mae: 50540.9766
Epoch 19/100
250/250 [==============================] - 0s 427us/step - loss: 49986.3555 - mae: 49986.3555 - val_loss: 50516.1055 - val_mae: 50516.1055
Epoch 20/100
250/250 [==============================] - 0s 429us/step - loss: 49949.7969 - mae: 49949.7969 - val_loss: 50476.8672 - val_mae: 50476.8672
Epoch 21/100
250/250 [==============================] - 0s 420us/step - loss: 49920.9141 - mae: 49920.9141 - val_loss: 50454.1602 - val_mae: 50454.1602
Epoch 22/100
250/250 [==============================] - 0s 415us/step - loss: 49887.7422 - mae: 49887.7422 - val_loss: 50435.8711 - val_mae: 50435.8711
Epoch 23/100
250/250 [==============================] - 0s 428us/step - loss: 49864.4531 - mae: 49864.4531 - val_loss: 50414.1367 - val_mae: 50414.1367
Epoch 24/100
250/250 [==============================] - 0s 466us/step - loss: 49833.5664 - mae: 49833.5664 - val_loss: 50401.7617 - val_mae: 50401.7617
Epoch 25/100
250/250 [==============================] - 0s 609us/step - loss: 49812.2266 - mae: 49812.2266 - val_loss: 50393.0039 - val_mae: 50393.0039
Epoch 26/100
250/250 [==============================] - 0s 634us/step - loss: 49788.9492 - mae: 49788.9492 - val_loss: 50387.3672 - val_mae: 50387.3672
Epoch 27/100
250/250 [==============================] - 0s 700us/step - loss: 49766.9883 - mae: 49766.9883 - val_loss: 50379.3945 - val_mae: 50379.3945
Epoch 28/100
250/250 [==============================] - 0s 598us/step - loss: 49748.8008 - mae: 49748.8008 - val_loss: 50356.9531 - val_mae: 50356.9531
Epoch 29/100
250/250 [==============================] - 0s 512us/step - loss: 49727.3086 - mae: 49727.3086 - val_loss: 50365.7305 - val_mae: 50365.7305
Epoch 30/100
250/250 [==============================] - 0s 459us/step - loss: 49708.5859 - mae: 49708.5859 - val_loss: 50347.2461 - val_mae: 50347.2461
Epoch 31/100
250/250 [==============================] - 0s 420us/step - loss: 49694.1406 - mae: 49694.1406 - val_loss: 50347.8359 - val_mae: 50347.8359
Epoch 32/100
250/250 [==============================] - 0s 419us/step - loss: 49682.2031 - mae: 49682.2031 - val_loss: 50345.5977 - val_mae: 50345.5977
Epoch 33/100
250/250 [==============================] - 0s 422us/step - loss: 49664.0078 - mae: 49664.0078 - val_loss: 50339.4492 - val_mae: 50339.4492
Epoch 34/100
250/250 [==============================] - 0s 427us/step - loss: 49648.0039 - mae: 49648.0039 - val_loss: 50337.8516 - val_mae: 50337.8516
Epoch 35/100
250/250 [==============================] - 0s 423us/step - loss: 49639.5938 - mae: 49639.5938 - val_loss: 50326.1914 - val_mae: 50326.1914
Epoch 36/100
250/250 [==============================] - 0s 424us/step - loss: 49627.4805 - mae: 49627.4805 - val_loss: 50311.6133 - val_mae: 50311.6133
Epoch 37/100
250/250 [==============================] - 0s 424us/step - loss: 49609.1250 - mae: 49609.1250 - val_loss: 50328.0117 - val_mae: 50328.0117
Epoch 38/100
250/250 [==============================] - 0s 423us/step - loss: 49600.6055 - mae: 49600.6055 - val_loss: 50327.5508 - val_mae: 50327.5508
Epoch 39/100
250/250 [==============================] - 0s 424us/step - loss: 49588.6680 - mae: 49588.6680 - val_loss: 50307.4297 - val_mae: 50307.4297
Epoch 40/100
250/250 [==============================] - 0s 424us/step - loss: 49577.5781 - mae: 49577.5781 - val_loss: 50296.5742 - val_mae: 50296.5742
Epoch 41/100
250/250 [==============================] - 0s 424us/step - loss: 49567.8438 - mae: 49567.8438 - val_loss: 50305.3359 - val_mae: 50305.3359
Epoch 42/100
250/250 [==============================] - 0s 438us/step - loss: 49560.9453 - mae: 49560.9453 - val_loss: 50298.6289 - val_mae: 50298.6289
Epoch 43/100
250/250 [==============================] - 0s 441us/step - loss: 49551.5547 - mae: 49551.5547 - val_loss: 50307.4922 - val_mae: 50307.4922
Epoch 44/100
250/250 [==============================] - 0s 448us/step - loss: 49541.4297 - mae: 49541.4297 - val_loss: 50304.6719 - val_mae: 50304.6719
Epoch 45/100
250/250 [==============================] - 0s 437us/step - loss: 49534.8750 - mae: 49534.8750 - val_loss: 50304.5781 - val_mae: 50304.5781
Epoch 46/100
250/250 [==============================] - 0s 462us/step - loss: 49526.1016 - mae: 49526.1016 - val_loss: 50299.9453 - val_mae: 50299.9453
Epoch 47/100
250/250 [==============================] - 0s 430us/step - loss: 49522.5117 - mae: 49522.5117 - val_loss: 50309.4258 - val_mae: 50309.4258
Epoch 48/100
250/250 [==============================] - 0s 430us/step - loss: 49508.4336 - mae: 49508.4336 - val_loss: 50312.3711 - val_mae: 50312.3711
Epoch 49/100
250/250 [==============================] - 0s 426us/step - loss: 49504.7773 - mae: 49504.7773 - val_loss: 50305.5859 - val_mae: 50305.5859
Epoch 50/100
250/250 [==============================] - 0s 439us/step - loss: 49496.0781 - mae: 49496.0781 - val_loss: 50298.5273 - val_mae: 50298.5273

In [28]:
%load_ext tensorboard

In [31]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 27479), started 0:01:21 ago. (Use '!kill 27479' to kill it.)

In [32]:
!kill 27479